body{
	background-color: beige;
}

.frame{
	border-radius: 4px;
	width: 50%;
	margin: auto;
	text-align: center;
	border: 1px solid #333;
	padding: 8px 12px;
	background-color: olive;
}

.frame:hover{
	box-shadow: 8px 8px 5px #444;
}

.expanded{
	border-radius: 4px;
	width: 80%;
	height: 30rem;
	margin: auto;
	border: 1px solid #333;
	padding: 8px 12px;
	background-color: olive;
	
	display: grid;
	grid-template-columns: 25% 1fr;
}
#Explanation1{
	grid-column-start:2;
	grid-row-end:2;
	
}

#List1{
	grid-column-start:2;
	grid-row-end:2;
	
}


.expanded:hover{
	box-shadow: 8px 8px 5px #444;
}

h1{
	text-align:center; margin: 2rem; font-size: 2em;
}

img{
	border-radius: 4px;
	max-width:100%;
	max-height:100%;
	object-fit: contain;
	margin-left:auto;
	margin-right:auto;
}

.expanded img{
	margin-left: 0px;
	margin-top: 4px;
}
ol{
	margin-top: 30px;
}

li{
	padding-left: 12px;
	cursor: pointer;
	color: #49262a;
}

a{
	color: 
}

#Collection1.expanded > #Explanation1{
	padding-left: 20px;
}

